#aboutUs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding-bottom: 2%;
  padding-right: 2%;
  padding-left: 2%;
}

#leftPerson {
  background-color: #fcd303;
  flex-grow: 1;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin-left: 1%;
  border-radius: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  width: 33%;
  font-family: 'avenir next';
}
 #middlePerson {
   background-color: #fcd303;
   flex-grow: 1;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   margin-left: 1%;
   border-radius: 2%;
   padding-bottom: 2%;
   padding-left: 2%;
   padding-right: 2%;
   width: 33%;
   font-family: 'avenir next';
 }

 #rightPerson {
   background-color: #fcd303;
   flex-grow: 1;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   margin-left: 1%;
   border-radius: 2%;
   padding-bottom: 2%;
   padding-left: 2%;
   padding-right: 2%;
   width: 33%;
   font-family: 'avenir next';
 }

 #aboutUsHeader {
   text-align: center;
 }

 html {
   background-color: white;
   color: black;


 }

 .logolinks {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 40px;
   border-radius: 10%;
   padding: 1%;

 }

 .ourPictures {
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 350px;
   width: auto;
   border-radius: 1%;
 }
