header {
    background-color: skyblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-grow: 5;
    align-items: center;
}

header * {
    display: inline;

}

header img {
    height: 80px;
}

header li {
    margin: 30px;
}

header li a {
    color: black;
    text-decoration: none;
}

li a.active{
  background-color: powderblue;
  color: white;
  height: 100%;
}

li a:hover:not(.active){
  background-color: powderblue;
  color: white;
  height:100%;
}

#fit-button.active{
  background-color: powderblue;
  color: white;
  height: 100%;
}
#sign_out_button, #delete_button:active{
  background-color: powderblue;
  color: white;
}

#made_outfits_button:active{
  background-color: powderblue;
  color: white;
  height: 100%;
}

#fit-button:hover:not(.active){
  background-color: powderblue;
  color: white;
  height:100%;
}

#sign_out_button, #delete_button:hover:not(.active){
  background-color: powderblue;
  color: white;
}
#made_outfits_button:hover:not(.active){
  background-color: powderblue;
  color: white;
}

li a, #fit-button{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
}

#fit-button{
  width: 19%;
  border-radius: 25px;
  background-color: #99ff99;
  padding: 15px 28px;
  font-size: 19px;
  cursor: pointer;
}

#sign_out_button, #delete_button{
  width: 19%;
  border-radius: 25px;
  background-color: #99ff99;
  padding: 15px 28px;
  font-size: 19px;
  cursor: pointer;
  text-align: center;
}
#made_outfits_button{
  width: 19%;
  border-radius: 25px;
  background-color: #99ff99;
  padding: 15px 28px;
  font-size: 19px;
  cursor: pointer;
  text-align: center;
}

h1{
  text-align: center
}

h4{
  text-align: justify;
  text-align: center;
  font-size: 60px;
  font-variant: small-caps;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 10px;
  text-shadow: 2px 4px honeydew;

}
h5,h6{
  text-align: justify;
  text-align: center;
  font-size: 25px;
  color: darkblue;
  text-shadow: 2px 2px honeydew;
  font-family: 'Roboto', sans-serif;

}

.categoryItem img {
  float: right;
  height:20%;
  width:25%;
  padding: 5px;
  min-width: 20%;
  max-width: 20%;
  display: flex;
  flex-wrap: wrap;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

.is-active{
  background-color: yellow;
}

.-title{
  text-align: left;
}

.imagebox {
display: inline-block;
border-radius: 50%;
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
display: inline-block;
}
.imagebox img{
  width:250px;
  height:200px;
}
.text{
   text-align: center;
}
.image {
display: inline-block;
border-radius: 50%;
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
display: inline-block;
}
.image img{
  width:250px;
  height:200px;
}
.textwords{
   text-align: center;
}

.topnav{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
