<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../stylesheets/aboutus.css">
    <link rel="stylesheet" href="../stylesheets/style.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us!</title>
  </head>
  <body>
    <header class="topnav">
      <img src="https://cdn1.iconfinder.com/data/icons/office-web/128/office-94-512.png">
      <nav >
        <ul>
          <li><a href="/welcome">Home</a></li>
          <li><a href="/all_clothes">Wardrobe</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="/make_outfits">Make Outfit</a></li>
          <li><a href="/about_us">About</a></li>
          <li><a href="/sign-in">Sign Out</a></li>
          <li>
          <form class="changepage" action="/search" method="get">
             <div class="input-field">
                 <input id="search" name="search" type="search" required>
                 <label class="label-icon" for="search">
                 <i class="material-icons">search</i></label>
              </div>
          </form>
        </li>
       </ul>
      </nav>
    </header>
    <br>
  <h1 id = "aboutUsHeader">About Us </h1>
  <div id = "aboutUs">
    <div id = "leftPerson">
      <center>
        <h2 class = "ourNames"> Abel Feleke </h2>
      <img src = "https://i.ibb.co/z7X1FXv/Screen-Shot-2019-07-30-at-4-13-58-PM.png" alt = "https://media.licdn.com/dms/image/C5603AQHbAPr4s6W5qw/profile-displayphoto-shrink_200_200/0?e=1570060800&v=beta&t=4yRfOSp2auxEi_IO5ZnuXEDDs5hXinUP5YUJbbTwuqMc" class = "ourPictures">
         <p class = "bios"> Abel is from San Jose, California and will be attending UC Berkeley, and plans to study computer science.</p>
       </center>
      <a href = "https://www.linkedin.com/in/abel-feleke-b36a93188"target="_blank">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" class="logolinks">
      </a>
    </div>

  <div id = "middlePerson">
      <center>
        <h2 class = "ourNames"> Elizabeth Ominsky </h2>
      <img src = "https://i.ibb.co/T19MLY3/7S0B1820.jpg" alt = "melany_Pic" class = "ourPictures">
      <p class = "bios"> Elizabeth is from Philadelphia, Pennsylvania and will be attending Cornell University, and plans on majoring in Computer Science. </p>
    </center>
      <a href = "https://www.linkedin.com/in/lizzie-ominsky-b0b02144"target="_blank">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" class="logolinks">
      </a>
    </div>

  <div id = "rightPerson">
      <center>
        <h2 class = "ourNames"> Sara Missak </h2>
      <img src = "https://media.licdn.com/dms/image/C4E03AQHktqYVPykljw/profile-displayphoto-shrink_800_800/0?e=1570060800&v=beta&t=INsK57To5WYA7CAvHyIFN6A4mK6bXTOttT5gMcUYWRc" alt = "ariel_Pic" class = "ourPictures">
      <p class = "bios"> Sara is from Marlboro, New Jersey and will be attending Carnegie Mellon University in the fall. She plans to major in computer science and information systems. </p>
    </center>
      <a href = "https://www.linkedin.com/in/sara-missak-161218168/"target="_blank">
        <img src = "https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" class="logolinks">
      </a>
    </div>
  </div>
  </body>
</html>
