<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body>
    <header class="topnav">
      <img src="https://cdn1.iconfinder.com/data/icons/office-web/128/office-94-512.png">
      <nav>
        <ul>
          <li><a href="/welcome">Home</a></li>
          <li><a href="/all_clothes">Wardrobe</a></li>
          <l class="is-active"i><a href="/about-us">About</a></li>
          <li><a href="#">Sign Out</a></li>
          <li>
            <form class="changepage" action="/makefits" method="post">
             <div class="input-field">
                 <input id="search" type="search" required>
                 <label class="label-icon" for="search">
                 <i class="material-icons">search</i></label>
                </div>
             </form>
           </li>
          </ul>
        </nav>
      </header>
  </body>
</html>
