<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    </head>
  <body>

    <header class="topnav">
      <img src="https://cdn1.iconfinder.com/data/icons/office-web/128/office-94-512.png">
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Wardrobe</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Sign Out</a></li>
          <li>
            <form>
             <div class="input-field">
                 <input id="search" type="search" required>
                 <label class="label-icon" for="search">
                 <i class="material-icons">search</i></label>
                </div>
             </form>
           </li>
            </ul>
              </nav>
               </header>
      <h1 style="margin: 90px">About The Team</h1>
  </body>
</html>
