<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="projectstyle.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
  </head>
  <body>
  <h1 id = "aboutUsHeader">About Us </h1>
  <div id = "aboutUs">
    <div id = "leftPerson">
      <center> <h2 class = "ourNames"> Abel </h2> </center>
      <img src = "" alt = "abel_Pic" class = "ourPictures">
       <center> <p class = "bios"> Emanuel is from Minnesota and will be attending the University of Southern California as a Computer Science and Business major.</p> </center>
      <a href = "https://www.linkedin.com/in/emanuel-kassie-923b00186"target="_blank"><img src = "https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" class="logolinks"> </a>
      <a href = "https://github.com/emanuelkassie"target="_blank"><img src = "https://image.flaticon.com/icons/svg/25/25231.svg" class="logolinks"> </a>
    </div>

  <div id = "middlePerson">
      <center> <h2 class = "ourNames"> Maleny Ruiz </h2> </center>
      <img src = "https://media.licdn.com/dms/image/C5603AQGnIjUPeLhEBw/profile-displayphoto-shrink_800_800/0?e=1570060800&v=beta&t=hnDAtyxQodd6uT5cfig18Gugp_Na75AbfT95B6AMRuQ" alt = "melany_Pic" class = "ourPictures">
      <center> <p class = "bios"> Maleny is from California and will be attending the University of California - Berkeley this fall as an intended Computer Science and Film major. </p> </center>
      <a href = "https://www.linkedin.com/in/maleny-ruiz/"target="_blank"><img src = "https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" class="logolinks"> </a>
      <a href = "https://github.com/maleny25"target="_blank"><img src = "https://image.flaticon.com/icons/svg/25/25231.svg" class="logolinks"> </a>
    </div>

  <div id = "rightPerson">
      <center> <h2 class = "ourNames"> Ariel Carter </h2> </center>
      <img src = "https://media.licdn.com/dms/image/C4D03AQGFrA55CBZ5ng/profile-displayphoto-shrink_800_800/0?e=1570060800&v=beta&t=XIovX2Yo0G-XbPAUG2_QiPhUHfm9ZNseYuyc_tpOvzQ" alt = "ariel_Pic" class = "ourPictures">
      <center> <p class = "bios"> Ariel will be attending Virginia Tech this fall as a Computational Modeling and Data Analytics major and participant of the Calhoun Discovery Program. </p> </center>
      <a href = "https://www.linkedin.com/in/ariel-carter-557184185/"target="_blank"><img src = "https://upload.wikimedia.org/wikipedia/commons/c/ca/LinkedIn_logo_initials.png" class="logolinks"> </a>
      <a href = "https://github.com/arielcarter0117"target="_blank"><img src = "https://image.flaticon.com/icons/svg/25/25231.svg" class="logolinks"> </a>
    </div>
  </div>
  </body>
</html>
