<!DOCTYPE html>
<html>
  <head>
    <title>Make a fit</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body>
  <header class="topnav">
    <nav >
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Wardrobe</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign Out</a></li>
        <li>
          <form>
           <div class="input-field">
               <input id="search" type="search" required>
               <label class="label-icon" for="search">
               <i class="material-icons">search</i></label>
              </div>
           </form>
         </li>
          </ul>

            </nav>
             </header>
           <h1>All Clothes</h1>
             {% for element in all_memes: %}
               <div id="meme-div" style="background-image:url({{ele.img_url}});">
               <h2 id="line1">{{ele.line1}}</h2>
               <h2 id="line2" style="color: {%if ele.dark_mode: %} black {%else:  %} white{% endif %};;"> {{ele.line2}}</h2>
               </div>
               <br>
             {% endfor %}
  </body>
</html>
