<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <head>
      <title>Home</title>
      <link rel="stylesheet" href="../stylesheets/style.css">
    </head>
  <body>
    <header class="topnav">
      <img src="https://cdn1.iconfinder.com/data/icons/office-web/128/office-94-512.png">
      <nav >
        <ul>
          <li><a href="/welcome">Home</a></li>
          <li><a href="/all_clothes">Wardrobe</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="/make_outfits">Make Outfit</a></li>
          <li><a href="/about_us">About</a></li>
          <li><a href="/sign-in">Sign Out</a></li>
          <li>
          <form class="changepage" action="/search" method="get">
             <div class="input-field">
                 <input id="search" name="search" type="search" required>
                 <label class="label-icon" for="search">
                 <i class="material-icons">search</i></label>
              </div>
          </form>
        </li>
       </ul>
      </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% for element in jackets %}
        <br>
        <img src="{{element}}" alt="idk" width="30%">

    {% endfor %}

      {% for element in jackets %}
      <img id="{{element.number}}" class="notActive{{element.number}}" style = "width: 20%" src="{{element.img_url}}" alt="none">

        <br>
      {% endfor %}
  </body>
</html>
