<!DOCTYPE html>
<html>
  <head>
    <title>Make a fit</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
<body>
  <header class="topnav">
    <img src="https://cdn1.iconfinder.com/data/icons/office-web/128/office-94-512.png">
    <nav >
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Wardrobe</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Sign Out</a></li>
        <li>
          <form>
           <div class="input-field">
             <input id="search" type="search" required>
             <label class="label-icon" for="search">
             <i class="material-icons">search</i></label>
              </div>
           </form>
         </li>
          </ul>
            </nav>
             </header>
    <div class=make_fits_buttons>
      <input type="image" src="https://image.flaticon.com/icons/svg/286/286964.svg" name="saveForm" class="btTxt submit" id="saveForm" style="height:90px; margin:100px"/>
      <input type="image" src="https://image.flaticon.com/icons/svg/664/664466.svg" name="saveForm" class="btTxt submit" id="saveForm" style="height:90px; margin:100px"/>
      <input type="image" src="https://image.flaticon.com/icons/svg/141/141614.svg" name="saveForm" class="btTxt submit" id="saveForm" style="height:90px; margin:100px"/>

    </div>
  </body>
</html>
