<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/search.css">

    <meta charset="utf-8">
    <title>Search</title>
  </head>
  <body style="background:powderblue">
    <header class="topnav">
      <img src="https://cdn1.iconfinder.com/data/icons/office-web/128/office-94-512.png">
      <nav >
        <ul>
          <li><a href="/welcome">Home</a></li>
          <li><a href="/all_clothes">Wardrobe</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="/make_outfits">Make Outfit</a></li>
          <li><a href="/about_us">About</a></li>
          <li><a href="/sign-in">Sign Out</a></li>
          <li>
            <form class="changepage" action="/search" method="get">
               <div class="input-field">
                   <input id="search" name="search" type="search" required>
                   <label class="label-icon" for="search">
                   <i class="material-icons">search</i></label>
                </div>
            </form>
        </li>
       </ul>
      </nav>
    </header>
    <br>
    <br>
    {% for element in img %}
      <div style="background-color:white" class="imagebox">
        <img src="{{element.img_url}}" alt="idk">
        <div class="text">
          <p>Name: {{element.article_name}}</p>
          <p>Description: {{element.article_description}}</p>
          <p>Categories: {{element.categories}}</p>
          <p>Personal Organization: {{element.personal_organization}}</p>
        </div>
      </div>
    {% endfor %}
  </body>
</html>
