<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Upload</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
  </head>
  <body style="background-color:powderblue;">
    <header class="topnav">
      <img src="https://cdn1.iconfinder.com/data/icons/office-web/128/office-94-512.png">
      <nav >
        <ul>
          <li><a href="/welcome">Home</a></li>
          <li><a href="/all_clothes">Wardrobe</a></li>
          <li><a href="/upload">Upload</a></li>
          <li><a href="/make_outfits">Make Outfit</a></li>
          <li><a href="/about_us">About</a></li>
          <li><a href="/sign-in">Sign Out</a></li>
          <li>
          <form class="changepage" action="/search" method="get">
             <div class="input-field">
                 <input id="search" name="search" type="search" required>
                 <label class="label-icon" for="search">
                 <i class="material-icons">search</i></label>
              </div>
          </form>
        </li>
       </ul>
      </nav>
    </header>
    <div>
    <form action="/upload" method="post" style= "margin-top: 100px">
      Image address:<br>
      <input type='text' name='img_url' value=''>
      <br>
      Name of article:<br>
      <input type='text' name='article_name' value=''>
      <br>
      Description:<br>
      <input type='text' name='article_description' value=''>
      <br>
      Category:<br>
      <select name="categories">
        <option value="select">Select</option>
        <option value="shirt">Tops</option>
        <option value="pants">Bottoms</option>
        <option value="shoes">Shoes</option>
        <option value="jacket">Outerwear</option>
      </select>
      <br>
      Personal Organization (Ex: casual, athletic, fancy):<br>
      <input type='text' name='personal_organization' value=''>
      <br>
      <input type="submit" value="upload">
    </form>
  </div>
  </body>
</html>
