<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/upload" method="post">
      Image you would like to add:<br>
      <input type='text' name='img_url' value=''>
      <br>
      Name you would like to give article of clothing:<br>
      <input type='text' name='article_name' value=''>
      <br>
      Description:<br>
      <input type='text' name='article_description' value=''>
      <br>
      Category (ex: shirt, pants, shoes):<br>
      <input type='text' name='categories' value=''>
      <br>
      Personal Organization (ex: foral, jersey, althletic wear):<br>
      <input type='text' name='personal_organization' value=''>
      <br>
      <input type="submit" value="upload">
    </form>
  </body>
</html>
